<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="OAUTH_REDIRECT" value="http://127.0.0.1:27337/" />
    <add key="OAUTH_CLIENTID" value="88ubxlhnalf554owolfv" />
    
    <add key="GITKRAKEN_AUTHORIZE" value="https://app.gitkraken.com/oauth/authorize" />
    <add key="GITKRAKEN_ACCESSTOKEN" value="https://api.gitkraken.com/oauth/access_token" />

    <add key="APP_LOGIN_TIMEOUT" value="30000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
