<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="OAUTH_REDIRECT" value="http://127.0.0.1:27337/" />
    <add key="OAUTH_CLIENTID" value="88ubxlhnalf554owolfv"/>
    <add key="GITKRAKEN_AUTHORIZE" value="https://app.gitkraken.com/oauth/authorize"/>
  </appSettings>
</configuration>
